@{
    ViewBag.Title = "Kontrolna tabla";
}

@section scripts {
    <script src="~/App/Dashboard/App.js"></script>
}


<div class="dashboard jumbotron">
    <h3>Dobrodošli Admin</h3>
    <div data-ng-view></div>
</div>
