@{
    ViewBag.Title = "Prijava za aplikaciju";
}

@section scripts {
    <script src="~/App/Login/App.js"></script>
    <script src="~/App/Login/ViewModels/ForgotViewModel.js"></script>  
    <script src="~/App/Login/ViewModels/ResetViewModel.js"></script>  
}


<div id="login" class="login">
    <div data-ng-view></div>
</div>

