<form name="updatePasswordForm" id="updatePasswordForm">
    <div class="input-group input-group-lg">
        <span class="input-group-addon" id="basic-addon1">
            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
        </span>
        <input type="password" class="form-control" data-ng-model="OldPassword" placeholder="Stara lozinka" aria-describedby="basic-addon1" required>
    </div>
    <div class="input-group input-group-lg">
        <span class="input-group-addon" id="basic-addon2">
            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
        </span>
        <input type="password" class="form-control" data-ng-model="NewPassword" placeholder="Nova lozinka" aria-describedby="basic-addon1" required>
    </div>
    <button type="submit" class="btn btn-default btn-lg" data-ng-click="UpdatePassword()" data-ng-disabled="updatePasswordForm.$invalid">
        <span class="spinner" data-ng-show="loading"><i class="glyphicon glyphicon-refresh"></i></span>
        Ažuriraj
    </button>
</form>

<div class="alert alert-success" role="alert" data-ng-show="messageSuccess">Lozinka je uspešno promenjena.</div>
<div class="alert alert-danger" role="alert" data-ng-show="messageFailed"><strong>Greska:</strong> {{message}}</div>
