<h4>Ažuriranje podataka</h4>
<div class="entry-form">
    <form name="editRasporedMainForm" id="editRasporedMainForm">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Naziv</span>
            <input type="text" class="form-control" aria-describedby="basic-addon1" data-ng-model="rasporedMain.Naziv" required>
        </div>
        <div class="btn-group">
            <button class="btn btn-default" type="button" data-ng-click="goBack()">Nazad</button>
            <button class="btn btn-success" type="submit" data-ng-click="updateRasporedMain()" data-ng-disabled="editRasporedMainForm.$invalid">Ažuriraj</button>
        </div>
    </form>
</div>
<div class="alert alert-success" role="alert" data-ng-show="RasporedMainUpdateSucess">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    Podaci su uspešno ažurirani.
</div>
<div class="alert alert-danger" role="alert" data-ng-show="RasporedMainUpdateFailed">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    Greška prilikom ažuriranja, molimo pokušajte ponovo.
</div>
